.about {
    display: block;
    background-color: #E3DFF1;
}

.about-container {
    display: inline-flex;

}

.about-description {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 30px 200px 0 0px;
    text-align: initial;
    color: #134B20;
    font-size: 18px;
}

.about-image {
    width: 300px;
    margin: 60px 140px 0px 100px;
}

.about-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    margin: 0px 0 0 0px;
    width: 60%;
    color: #C83636;
    font-size: 30px;
}

.about-subtitle {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    color: #432D90;
    font-size: 20px;
    margin: 10px 0 0px 0;
    width: 70%;
}

.about-options {
    display: inline-flex;
    text-align: center;
    margin: 60px 20px 100px 20px;
    align-items: center;
}

.about-options-image {
    width: 160px;
    margin: 0 0 30px 0px;

}

#about-options-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    margin: 0 0px 20px 0;
    color: #6451A6;
    text-align: center;
}

.about-option-description {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 0 0px 100px 0px;
    display: inline-flex;

}

.about-background-cloud {
    width: 100%;
    margin: -200px 0 0 0px;
}